.pro{
    margin-left: 580px;
}
h1,h4{
    text-align: center;
    transition: 0.1s ease-in-out;
}
h1:hover,h4:hover{
  transform: scale(1.2);
}
h4{
    display: inline-block;
    margin-left: 10px;
}
.row{
    margin-left: 450px;
}
body{
    background-color: burlywood;
}